---
layout: default
title: BuzzTender
---
<header>
	<div class="container">
		<div class="column">
			<div>
                <br/>
                <h2 class="editable" style="text-align: center;">BuzzTender Legal, Privacy & Guidelines</h2>
				<div class="container">
 
                    <ul class="thirds">
                        <li>
                            <div class="image">{% include icons/site.html icon="privacy" %}</div>
                            <h3 class="editable"><a href='/legal/privacy-policy'>Privacy Policy</a></h3>
                            <p class="editable">Please see above to read our Privacy Policy.</p>
                        </li>
                
                        <li>
                            <div class="image">{% include icons/site.html icon="agreement" %}</div>
                            <h3 class="editable"><a href='/legal/user-agreement'>User Agreement</a></h3>
                            <p class="editable">Please see above to read our User Agreement.</p>
                        </li>
                
                        <li>
                            <div class="image">{% include icons/site.html icon="guidelines" %}</div>
                            <h3 class="editable"><a href='/legal/community-guidelines'>Community Guidelines</a></h3>
                            <p class="editable">Please see above to read our Community Agreement.</p>
                        </li>
                
                    </ul>
                    
                </div>
			</div>
		</div>
	</div>
</header>